body {
  background: url("../img/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.container {
  margin-top: 3.125em;
  background: #1e1f23;
  padding: 0;
  box-shadow: 0 0 0.75em 0 rgba(0, 0, 0, 5);
  max-width: 85vw;
}

.nopadding {
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;

  a {
    text-align: center;
    text-decoration: none;
  }

  .header-title {
    font-size: 3.6875em;
    font-weight: 700;
    color: white;
  }

  .header-subtitle {
    font-size: 0.9375em;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    margin-top: -1.375em;
  }
}

.first {
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .image-first {
      max-width: 100%;
    }
  }

  .name {
    text-align: center;
    background-color: white;
    padding: 3.75em 0;

    .name-title {
      position: relative;
      font-size: 1.625em;
      color: #1e1f23;

      &::after {
        content: "";
        position: absolute;
        left: calc(50% - 2.25em);
        width: 115px;
        height: 1px;
        background-color: lightgray;
        bottom: -10px;
      }
    }

    .name-subtitle {
      font-size: 0.75em;
      font-weight: 200;
      color: #bbbbca;
      margin-top: 2em;
      letter-spacing: 3px;
    }
  }

  .first-text {
    background-color: #f9f8f6;
    padding: 5.625em;

    .text {
      font-size: 0.9375em;
      font-weight: 200;
      color: #7b7a7a;
    }
  }
}

.second {
  padding: 5.625em;

  .heading {
    padding: 1.875em 0;
    background-color: #121315;
    border-radius: 4px 4px 0 0;

    .vestibulum {
      text-align: center;
      color: white;
      font-size: 1.625em;

      &::after {
        content: "";
        position: absolute;
        margin: 2em auto;
        right: 0;
        left: 0;
        width: 80px;
        height: 1px;
        background-color: #303132;
      }
    }

    .vestibulum-subtitle {
      text-align: center;
      margin-top: 2.5em;
      font-size: 0.75em;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.25);
      letter-spacing: 3px;
    }
  }

  .zoom {
    overflow: hidden;

    .image-inside {
      width: 100%;
      height: 100%;
      transition: 0.1s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.third {

  .third-image {
    width: 100%;
    height: 100%;
    transition: 0.1s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .white-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3.125em 5.625em 3.125em 5.625em;
    background-color: #f4f4f4;

    .third-title {
      font-size: 1.25em;
      color: #1e1f23;
      margin-bottom: 0.9375em;
    }

    .third-subtitle {
      font-size: 0.9375em;
      font-weight: 300;
      color: #7b7a7a;
    }
  }

  .gray-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3.125em 5.625em 3.125em 5.625em;
    background-color: #1e1f23;


    .third-title-1 {
      text-align: right;
      font-size: 1.25em;
      color: white;
      margin-bottom: 0.9375em;
    }

    .third-subtitle-1 {
      text-align: right;
      font-size: 0.9375em;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.25);
      transition: .5s;
    }
  }

  .overflow {
    overflow: hidden;

  }

  .third-image-1 {
    height: 100%;
    width: 100%;
    transition: 0.1s ease-in-out;


    &:hover {
      transform: scale(1.05);
    }
  }


  .third-image-2 {
    height: 100%;
    width: 100%;
    transition: 0.1s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .white-box-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3.125em 5.625em 3.125em 5.625em;
    background-color: #f4f4f4;
    border-radius: 0 0 4px 0;

    .third-title-2 {
      font-size: 1.25em;
      color: #1e1f23;
      margin-bottom: 0.9375em;
    }

    .third-subtitle-2 {
      font-size: 0.9375em;
      font-weight: 300;
      color: #7b7a7a;
    }
  }
}

.footer {
  padding: 3.125em 0 3.125em 0;

  .icon-list {
    padding: 0;
    margin: 0;
    font-size: 1.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    .list {
      margin: 0 0.325em;

      .footer-link {
        color: #cacac8;

        &:hover {
          color: white;
        }
      }
    }
  }

  .footer-credits {
    text-align: center;
    font-size: 0.8125em;
    font-weight: 300;
    color: #cacac8;
    margin-top: 1.875em;

    .credit-link {
      color: #cacac8;

      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}

#modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: -5;
  transition: 0.5s ease-in-out;

  &.active {
    opacity: 1;
    z-index: 1;

    .modal-content {
      animation: fade .8s;
    }
  }

  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 10px;
    width: 50%;
    transition: 2s ease-in-out;

    .image-modal {
      width: 100%;
      height: 100%;
    }

    .close {
      display: block;
      position: absolute;
      font-size: 1.25em;
      background: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      outline: 0px;
      top: 0;
      right: -40px;
      cursor: pointer;
    }
  }
}

@keyframes fade {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media (max-width: 736px) {


  .first {
    .name {
      padding: 50px 0;

      .name-title {
        font-size: 1.5em;
        padding: 0 1.25em;
      }

      .name-subtitle {
        padding: 0 2.25em;
      }
    }

    .first-text {
      padding: 1.875em;

      .text {
        font-size: 1em;
      }
    }
  }

  .second {
    padding: 1.875em;

    .heading {

      .vestibulum {
        font-size: 1.5em;

      }

      .vestibulum-subtitle {
        padding: 0 20px;
        letter-spacing: 5px;
      }
    }
  }

  .third {
    .white-box {
      padding: 2em 1.625em 2em 1.625em;

      .third-title {
        font-size: 1.375em;
      }

      .third-subtitle {
        text-align: center;
        font-size: 1em;
      }
    }

    .gray-box {
      order: 1;
      padding: 2em 1.625em 2em 1.625em;

      .third-title-1 {
        text-align: center;
      }

      .third-subtitle-1 {
        text-align: center;
        font-size: 1em;
      }
    }

    .white-box {
      .third-title-2 {
        text-align: center;
      }

      .third-subtitle-2 {
        font-size: 1em;
        text-align: center;
      }
    }
  }

  .footer {
    .footer-credits {
      font-size: 20px;
    }
  }
}

@media (max-width: 991px) {
  .third {
    .white-box {
      .third-title {
        text-align: center;
      }

      .third-subtitle {
        text-align: center;
      }
    }

    .gray-box {
      order: 1;

      .third-title-1 {
        text-align: center;
      }

      .third-subtitle-1 {
        text-align: center;
      }
    }

    .white-box {
      .third-title-2 {
        text-align: center;
      }

      .third-subtitle-2 {
        text-align: center;
      }
    }
  }

  #modal {
    .modal-content {
      width: 75%;
    }
  }
}

@media (max-width: 1280px) and (min-width: 737px) {
  .second {
    padding: 3.125em;
  }
}